$bgNum: 40;
$bg: rgba($bgNum, $bgNum, $bgNum, 1.0);
$activeBg: silver;
$activeColor: #010101;
$activeShadow: #555;
$clr: #efefef;
$maxWidth: 1000;

* {
	padding: 0;
	margin: 0;
}

body {
	background-color: $bg;
	color: $clr;
}

.products {
	left: 5%;
}

.product {
	margin-left: 5px;
	margin-bottom: 5px;
}

.wrap {
	max-width: $maxWidth + 'px';
	width: 100%;
	margin: 30px auto;
	padding: 10px 30px;
}

nav {
	padding: 10px 20px;
	overflow: hidden;
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
}

a.vendor {
	text-decoration: none;
	text-transform: uppercase;
	font-size: 1.4rem;
	padding: 20px 10px;
	border: 3px solid white;
	display: inline-block;
	width: 20%;
	min-width: 125px;
	text-align: center;
	color: $clr;
	margin-bottom: 5px;
}

a.vendor:hover {
	color: invert($clr);
	background-color: invert($bg);
}

a.vendor.active {
	background-color: $activeBg;
	color: $activeColor;
	box-shadow: inset 1px 1px 2px $activeShadow;
}
